html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: 0.6875rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-bg);
  text-shadow: var(--textShadow);
  overflow: hidden;

  @media (max-width: 1200px) {
    overflow: visible;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1 {
  position: relative;
  color: var(--white);
  font-size: clamp(1.875rem, 6vw, 3rem);
  line-height: clamp(2rem, 6vw, 3.3125rem);
  font-family: var(--third-font);
  font-weight: 700;

  &:before,
  &:after {
    content: '<h1>';
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 0.75rem;
    font-weight: 400;
    position: absolute;
    margin-top: -2.5rem;
    left: -0.9375rem;
    opacity: 0.6;
  }

  &:after {
    content: '</h1>';
    bottom: -2.8125rem;
  }
}

h2 {
  color: var(--white);
  margin: 2.5rem 0 1.5rem 0;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: var(--third-font);
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

input,
textarea {
  font-family: var(--primary-font);
}

.btn {
  margin: 1.5625rem 0 0 -0.8125rem;
  padding: 0.625rem 1.125rem;
  font-family: var(--third-font);
  font-size: 0.8125rem;
  letter-spacing: 4px;
  color: var(--primary-color);
  background: transparent;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-color);
  animation: fadeIn 1s 1.8s backwards;
  transition: all 0.2s ease-in-out;

  cursor: pointer;

  &:hover {
    background: var(--primary-color);
    color: var(--white);
  }
}

svg {
  display: block;
}
