.contact-page {
  justify-content: center;

  .contact-form {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.625rem;

      li {
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        opacity: 0;
        overflow: hidden;

        @for $i from 3 through 4 {
          &:nth-child(#{$i}) {
            grid-column: 1/-1;
          }
        }

        &:nth-child(5) {
          grid-column: 2;
          justify-self: self-end;
        }

        input[type='text'],
        input[type='email'],
        textarea {
          width: 100%;
          border: 1px solid var(--primary-color);
          background: var(--form-color);
          height: 3.125rem;
          font-size: clamp(0.8rem, 2vw, 1rem);
          color: var(--primary-color);
          padding: 0 1.25rem;
          border-radius: var(--radius10);

          &:focus {
            border: 1px solid var(--primary-color);
            outline: 0;
          }

          &::placeholder {
            color: var(--gray);
          }
        }

        textarea {
          padding: 1.25rem;
          min-height: 9.375rem;
        }

        .form-btn {
          margin: 0;
          padding: 0.5rem 0.625rem;
          font-size: 0.6875rem;
          letter-spacing: 0.1875rem;
          animation: unset;
          cursor: pointer;

          &:hover {
            background: var(--primary-color);
            color: var(--white);
          }
        }
      }
    }
  }
}
